<div class="container">
  <div class="historia">
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum
        sint, quasi soluta repellendus illum odit delectus eaque voluptatem
        beatae ipsa perspiciatis ab sit quidem eius architecto? Accusantium,
        aliquid illo!
      </p>
    </div>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        debitis a officiis possimus, atque molestias dolores blanditiis qui,
        totam deleniti, et ex libero. Fugit quasi beatae distinctio non vero
        voluptatibus.
      </p>
    </div>
  </div>
</div>
