<div id="divExt">
  <div *ngIf="pelicula" class="container grid">
    <div id="titulo">
      <h4 class="titulo">Titulo</h4>
      <p>{{pelicula.Titulo}}</p>
      <input type="text" [(ngModel)]="titulo" name="titulo" />
    </div>
    <div id="director">
      <h4>Director</h4>
      <p>{{ pelicula.Director }}</p>
      <input type="text" [(ngModel)]="director" name="director"/>
    </div>

    <div id="reparto">
      <h4>Reparto</h4>
      <div *ngFor="let actor of reparto">
        {{ actor }}
      </div>
    </div>

    <div id="year">
      <h4>Año</h4>
      <p>{{ pelicula.Year }}</p>
      <input type="number" [(ngModel)]="anyo" name="anyo"/>
    </div>

    <div id="recaudacion">
      <h4>Espectadores</h4>
      <p>{{ pelicula.espectadores }}</p>
      <input type="text" [(ngModel)]="espectadores" name="espectadores"/>
    </div>
  </div>
  <div hidden id="btnBorrar">
    <button class="btn btn-danger" (click)="borrar()">Borrar</button>
  </div>
  <button id="btnVolver" class="btn btn-info" (click)="volver()">Volver</button>
</div>
