<div class="container">

    <table>
        <tr>
          <th>Titulo</th>
          <th>Director</th>
          <th>Año</th>
          <th>Recaudación</th>

        </tr>
    
        <tr class="pelicula" *ngFor="let peli of peliculas">
          <td class="titulo"><a [routerLink]="['/detalles', peli.id]">{{ peli.data.Titulo }}</a></td>
          <td class="director">{{ peli.data.Director}}</td>
          <td class="year">{{peli.data.Year}}</td>
          <td class="recaudacion">{{peli.recaudacion}}</td>

        </tr>
      </table>

</div>
