th{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.2em;
    padding-left: 50px;
}

tr{
    margin-top: 5px;
}

td{
    padding-left: 50px;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
}