<div class="container grid-container">
  <p class="grid-item1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium minus
    id eveniet, quae ducimus quidem dolorum eligendi molestiae exercitationem
    pariatur mollitia voluptas est tenetur maxime provident quisquam labore
    omnis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero a
    minus fugiat? Culpa inventore a dignissimos, molestias odio eligendi cumque
    adipisci ipsam dolorum alias veritatis recusandae harum laudantium, ullam
    soluta.
  </p>
  <div class="grid-item2">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia rerum
      labore laborum ut aliquam consequatur doloribus tenetur sit cumque, ipsum
      molestiae illo, natus expedita fuga adipisci recusandae nostrum
      dignissimos error.
    </p>

    <img src="../../../assets/imgs/platofoto.jpg" width="350px" />
  </div>
</div>
