<nav>
  <ul>
    <li>
      <a href="#">Noticias</a>
    </li>
    <li>
      <a routerLink="historia">¿Quienes somos?</a>
    </li>
    <li>
      <a routerLink="catalogo">Nuestro catálogo</a>
    </li>
    <li>
      <a routerLink="records">Records</a>
    </li>
    <li hidden id="formularioPelicula">
      <a routerLink="formpelicula">Añadir película</a>
    </li>
    <li id="login">
      <a routerLink="login">Login</a>
    </li>
<li hidden id="cerrarSesion">
  <a routerLink="/" (click)="logout()">Cerrar sesión</a>
</li>
  </ul>
</nav>
